:root {
    --theme-background-color: #f9fbf5;

    --card-title-background: #f2f9f4;
    --card-body-background: #e0f8e9;
    --card-footer-background: #f2f9f4;
    --card-border-color: #23ab8a;

    --button-background: #35cda8;
    --button-color: #0a6750;
}
