.tab-title {
    display: flex;
    height: $behavior-height;
    line-height: $behavior-height;

    &--item {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $border-color;
        cursor: pointer;

        &__active {
            border-bottom: 2px solid $lighter-blue-color;
            color: $lighter-blue-color;
        }
    }
}

.setting {
    &--row {
        margin: 1rem;

        &__title {
            font-size: 1.3rem;

            & + hr {
                border: 1px solid #999;
                margin-top: 5px;
            }
        }

        &__lable {
            margin-bottom: 0.5rem;
        }
    }
}
