.form-builder {
    padding: 0.5rem;

    &--list {
        padding: 8px;
        box-sizing: border-box;
        height: 100%;

        &__item {
            display: inline-block;
            width: 48%;
            margin: 1%;
            transition: transform 0ms !important;
        }
    }

    &--draggable {
        padding-bottom: 20px;
    }

    &--title {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #222;
        margin: 6px 2px;

        img {
            width: 16px;
            height: auto;
            margin-right: 5px;
        }
    }

    &--body {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        background: $selected-color;
        font-size: 12px;
        cursor: move;
        border: 1px dashed $selected-color;
        border-radius: 3px;

        img {
            width: 16px;
            height: auto;
            margin-right: 5px;
        }

        &:hover {
            border: 1px dashed #787be8;
            color: #787be8;
        }
    }
}
