.generate {
    height: calc(100% - #{$behavior-height});

    &--container {
        height: 100%;
        overflow-y: auto;
    }

    &--ghost {
        width: 97.25%;
        margin: 0 1.15rem;

        &:first-child {
            margin: 1.15rem 1.15rem 0;
        }
    }

    &--row {
        padding: 1rem;
        margin: 1.15rem;
        border-radius: 4px;
        border: 1px dashed #ccc;

        &__selected {
            // border: none;
            background-color: $selected-color;
            border: 2px solid $lighter-blue-color;
            cursor: all-scroll;
        }

        &:hover {
            background-color: $selected-color;
        }
    }

    &--empty {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #aaa;
        letter-spacing: 1rem;
        font-size: 1.15rem;
    }
}
