.flex {
    display: flex;
}
.left {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
}

.center {
    margin: 0 350px 0 280px;
    box-sizing: border-box;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.right {
    width: 350px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 3px;
}

.header {
    height: 42px;
    line-height: 42px;
header {
    height: $header-height;
    line-height: $header-height;
    border-bottom: 1px solid $border-color;

    div {
        margin-left: 2rem;
        font-size: 1rem;
        font-weight: bold;
    }
}
