.form-builder-header {
    height: $header-height;
    line-height: $header-height;
    border-bottom: 1px solid $border-color;

    div {
        margin-left: 2rem;
        font-size: 1rem;
        font-weight: bold;
    }
}

.home {
    width: 100%;
    height: calc(100vh - #{$header-height});
    display: flex;

    .left {
        width: $left-width;
        height: 100%;
    }

    .center {
        width: calc(100% - #{$left-width} - #{$right-width});
        height: 100%;
        box-sizing: border-box;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
    }

    .right {
        width: $right-width;
        height: 100%;
        overflow-y: auto;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar {
    height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0.6rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0.6rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}
