.flex {
    display: flex;
}
.left {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
}

.center {
    height: 100vh;
    margin: 0 350px 0 260px;
    box-sizing: border-box;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.right {
    width: 350px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 3px;
}

.header {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid $border-color;

    div {
        margin-left: 2rem;
        font-size: 1rem;
        font-weight: bold;
    }
}

.components {
    &--list {
        padding: 8px;
        box-sizing: border-box;
        height: 100%;

        &__item {
            display: inline-block;
            width: 48%;
            margin: 1%;
            transition: transform 0ms !important;
        }
    }

    &--draggable {
        padding-bottom: 20px;
    }

    &--title {
        font-size: 14px;
        color: #222;
        margin: 6px 2px;
    }

    &--body {
        padding: 8px 10px;
        background: $selected-color;
        font-size: 12px;
        cursor: move;
        border: 1px dashed $selected-color;
        border-radius: 3px;
        .svg-icon {
            color: #777;
            font-size: 15px;
        }
        &:hover {
            border: 1px dashed #787be8;
            color: #787be8;
        }
    }
}

.generate {
    height: calc(100% - 42px);
    padding: 1rem;

    &--container {
        height: 100%;
    }

    &--row {
        padding: 1rem;
        margin: 1.15rem;
        border-radius: 4px;
        border: 1px dashed #ccc;

        &__selected {
            border: none;
            background-color: $selected-color;
        }

        &:hover {
            background-color: $selected-color;
        }
    }
}

.setting {
    &--row {
        padding: 1rem 1rem 1rem 2rem;
    }
}

.action-item {
    &:hover {
        & > .action-item-copy,
        & > .action-item-delete {
            display: initial;
        }
    }

    & > .action-item-copy,
    & > .action-item-delete {
        position: absolute;
        top: -30px;
        width: 24px;
        height: 24px;
        line-height: 22px;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        border: 1px solid;
        cursor: pointer;
        z-index: 1;
    }

    & > .action-item-copy {
        right: 50px;
        border-color: $lighter-blue-color;
        color: $lighter-blue-color;
        background: #fff;
        &:hover {
            background: $lighter-blue-color;
            color: #fff;
        }
    }

    & > .action-item-delete {
        right: 18px;
        border-color: $lighter-red-color;
        color: $lighter-red-color;
        background: #fff;
        &:hover {
            background: $lighter-red-color;
            color: #fff;
        }
    }
}

.action {
    display: none;
    position: absolute;
    top: -10px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid;
    cursor: pointer;
    z-index: 1;

    &:hover {
        & > .el-form-item {
            background: $selected-color;
            border-radius: 6px;
        }
        & > .drawing-item-copy,
        & > .drawing-item-delete {
            display: initial;
        }
    }

    &--copy {
        right: 56px;
        border-color: $lighter-blue-color;
        color: $lighter-blue-color;
        background: #fff;

        &:hover {
            background: $lighter-blue-color;
            color: #fff;
        }
    }

    &--delete {
        right: 24px;
        border-color: $lighter-red-color;
        color: $lighter-red-color;
        background: #fff;

        &:hover {
            background: $lighter-red-color;
            color: #fff;
        }
    }
}
