$header-height: 50px;
$behavior-height: 45px;

$left-width: 280px;
$right-width: 350px;

$selected-color: #f6f7ff;
$border-color: #f1e8e8;
$white-color: #fff;
$lighter-blue-color: #409eff;
$lighter-red-color: #f56c6c;
